.dropdown {
  height: auto;
  min-height: 50px;
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  width: 100%;

  &__button {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid var(--color-white);
    min-height: 50px;
    width: 100%;
    background: var(--color-fiord);
    color: var(--color-white);
    font: normal normal bold 1.2rem/2rem var(--font-montserrat);
  }

  &__section {
    display: none;

    &--open {
      display: block;
      padding: 10px;
      color: var(--color-fiord);
      font: normal normal normal 1.2rem/2rem var(--font-montserrat);
    }
  }
}