.button {
  display: inline-block;
  height: 50px;
  min-width: 150px;
  pointer: cursor;
  transition-timing-function: ease-in-out;
  transition: 0.4s;

  &__wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  a {
    font: normal normal normal 1.4rem/2.2rem var(--font-montserrat);
    letter-spacing: .2rem;
  }

  &--white {
    background: var(--color-white);
    color: var(--color-fiord);
  }

  &--white2 {
    border: 3px solid var(--color-white);
    color: var(--color-white);
  }

  &--blue {
    background: var(--color-fiord);
    color: var(--color-white);
  }

  &--blue2 {
    border: 3px solid var(--color-fiord);
    color: var(--color-fiord);
  }
}